@charset 'UTF-8';

@tailwind preflight;

:root {
    --black: #22292f;
    --grey-darkest: #3d4852;
    --grey-darker: #606f7b;
    --grey-dark: #8795a1;
    --grey: #b8c2cc;
    --grey-light: #dae1e7;
    --grey-lighter: #f1f5f8;
    --grey-lightest: #f8fafc;
    --white: #ffffff;
    --belgium: #188788;
    --antwerp: #af3448;
    --brussels: #5f58a2;
    --ghent: #3997bd;
}

* {
    position: relative;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
    font: inherit;
}

*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 18px;
}

h1 {
    font-size: inherit; /* Reset normalize 2em */
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img,
svg {
    display: block;
    vertical-align: middle;
}

.link {
    color: var(--belgium);
    display: inline-block;
}

.link:before {
    content: '';
    background: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 2px;
    opacity: 0.66;
    transition: all 0.3s ease-out;
    transform: translate3d(0, 0, 0);
}

.link.is-small:before {
    height: 1px;
}

.link:hover:before {
    opacity: 0.33;
    transform: scaleX(0.92);
}

.wrapper {
    @apply max-w-xl px-6 mx-auto;
}

@screen sm {
    .wrapper {
        @apply px-12;
    }
}

@screen lg {
    .wrapper {
        @apply px-24;
    }
}

@tailwind utilities;
