@tailwind base;

:root {
    --white: #ffffff;
    --black: #22292f;
    --gray-200: #f8fafc;
    --gray-300: #f1f5f9;
    --gray-400: #cbd5e1;
    --gray-500: #94a3b8;
    --gray-600: #64748b;
    --gray-700: #475569;
    --gray-800: #334155;
    --yellow: #fff7c1;
    --belgium: #167c7d;
    --antwerp: #af3448;
    --brussels: #5f58a2;
    --ghent: #2b7a99;
    --europe-dark: #5845d0;
    --europe-light: #6a58e4;
    --blue: #6acbe0;
    --purple: #6859ea;
}

html {
    font-size: 18px;
}

a:not(.button,.logo):focus {
    outline: none;
    background-color: var(--yellow);
}
